
footer 
{  
	padding-top: 30px;
	width: 102.5%;
	margin-left: -10px;
	margin-bottom: -20px;
	max-height: 100px;
	text-align: center;
	color: white;
	font-size: 15px;
	
}

 
.navBar
{
	margin-top: -10px;
	width: 100%;
	margin-right:-10px;
	min-height: 70px;
	background:#35424a;
    padding-top: 0px;
    opacity:0.7;


}
 .navBar ul
  {
  	margin:0;
  	padding:0;
  }

  .navBar li
  {
    float: right;
    display: inline;
    padding:30px 7px 0px 30px; /* top right bottem  left  */
    font-weight: bold;

  }
.navBar a
{
	color: white;
    text-decoration: none;
}
.About:hover
{
	
	font-weight: bold;
	color:#cccccc;
	font-size: 20px;
}

.Home:hover
{
	font-weight: bold;
	color:#cccccc;
	font-size: 20px;

}
.AddStaff:hover
{
	font-weight: bold;
	color:#cccccc;
	font-size: 20px;

}
.Contact:hover
{
	font-weight: bold;
	color:#cccccc;
	font-size: 20px;

}

.mainSection
{
	min-height: 600px;
	background:url("../img/img5.png") no-repeat;
	text-align: center;
	margin:-20px;
	padding:0; 
}

.PanelOptions
{
	margin-left:-10px;
	width: 100%;
	margin-top: 0px;
	min-height: 100px;
	text-align: center;
	padding-top: 20px;
}
 .searchDoctor:focus
 {
 	outline: none;
 }
 body
{
	background-color: #a3c3ca;
	font-family: 'Graduate', cursive;
}

.adminab
{

  font-family: 'Signika', sans-serif;
}
.firstResp1
{
	padding-left: 20px;
	width: 28%;
	float:left;
	
}
.firstResp2
{
	padding-left: 20px;
	width: 28%;
	float:left;
	
}
.firstResp3
{
	padding-top: 0px;
	padding-left: 20px;
	width: 28%;
	float:left;
	
}




