
footer 
{  

	padding-top: 30px;
	margin-left: -10px;
	margin-bottom: -20px;
	min-height: 100px;
	text-align: center;
	color: white;
	font-size: 13px;
	background:#2d353a;
	width:108%;
	
}

.navbar
{
	background:black;
	opacity: 0.5;
	height: 100px;
}

.navBar1
{
    
	text-align: center;
	padding-top: 120px;
	margin-top: -120px;
	background:#35424a;
}


.About:hover
{
	
	font-weight: bold;
	color:#cccccc;
	font-size: 20px;
}

.Home:hover
{
	font-weight: bold;
	color:#cccccc;
	font-size: 20px;

}
.AddStaff:hover
{
	font-weight: bold;
	color:#cccccc;
	font-size: 20px;

}
.Contact:hover
{
	font-weight: bold;
	color:#cccccc;
	font-size: 20px;

}

.mainSection
{

	min-height: 600px;
	background:url("../img/img5.png") no-repeat;
	text-align: center;
	margin:-20px;
	padding:0; 
}

.PanelOptions
{
	margin-left:-10px;
	margin-top: 0px;
	min-height: 100px;
	text-align: center;
	padding-top: 20px;
	background:#35424a;
	width:108%;
}
.line
{
	height: 2px;
	background:white;
}
.line2
{
	height: 2px;
	background:white;
	margin-top: -15px;
}
.others
{
	color: white;
	margin-left: 0px;
	margin-top: -10px;
	text-align: center;
}
.contactDetails
{
	 background:#35424a;
	 min-height: 300px;
	 padding-top:1rem;
	 color: white;
	 padding-left:10px;
	 text-align: center;
	 padding-bottom: 15px;
}
.doctordiv
{
	background:#35424a;
	margin-left:-20px;
	 max-width: 250px;
	 text-align: center;
	 min-height:250px;
	 border-radius: 20px;
	 color: white;
	 opacity: 0.5;
	 padding-top: 20px;
}
.receptionistdiv
{
	background:#35424a;
	margin-left: -20px;
	 max-width: 250px;
	 text-align: center;
	 min-height:250px;
	 border-radius: 20px;
	 color: white;
	 padding-top: 20px;
	 opacity: 0.5;
}
.contacts
{
	margin-left: -10px;
	font-size: 13px;
	width:108%;
}
.admindiv
{
	float:left;
	background:#35424a;
	margin-left:-20px; 
	max-width: 250px; 
	text-align: center;
	min-height:250px;
	border-radius: 20px;
	color: white;
	padding-top: 20px;
	opacity: 0.5;
}
.differentOptions
{
	padding-left: 25px;
	margin-top: -110px;
	min-height: 600px;
}

 body
{
	background:lightblue;
	font-family: 'Graduate', cursive;
}

.adminab
{

  font-family: 'Signika', sans-serif;
}

.coverImage h2
{
	font-weight: bold;
	font-size:50px;
	color:#35424a;
	margin-left: 10px;
}
.searchDOCTOR
{
	padding-top: 20px;
}

.searchDOCTOR input
{
	margin-top: -10px;
	border-radius: 20px;
	width: 250px;
	height: 40px;
	border:none;
	outline: none;
}

.searchDOCTOR button
{
	border:none;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	background: #35424a;
	color:white;
	display: inline;
}


@media screen and (min-width: 768px)
{
*
{
	margin: 0;
	padding:0;

}
.coverImage
{
	padding-top: 70px;
}

.Logo
{
  float: left;
 margin-top: 110px;
 margin-left: 35px;
}

.navBar1
{   height: 150px;
	text-align: left;
	padding-top: 70px;
	padding-left: 40px;
}
.navbar
{
	padding-left:110px;
	height: 200px;
	background:black;
	width: 80%;
	float:right;
	margin-top:40px;
}
.ab1
{
	float: right;
	margin-top: 60px;
	margin-right: 40px;
}
.ab2
{
	float: right;
	margin-top: 60px;
	margin-right: 70px;
}
.ab3
{
	float: right;
	margin-top: 60px;
	margin-right: 85px;
}
.ab4
{
	float: right;
	margin-top: 60px;
	margin-right: 100px;
}
.searchDOCTOR input
{
	width: 550px;
	height: 40px;
}
.searchDOCTOR button
{
	margin-top: 10px;
	width: 200px;
}
.PanelOptions
{
  width:103%;
}
footer
{
	width: 102%;

}
.contacts
{
	width: 102%;
}
.firstResp1
{
	float: left;
	width: 20%;
}
.firstResp2
{
	float: left;
   width: 20%;
   margin-left: 140px;
}
.firstResp2 img
{

   width: 20%;
   
}
.firstResp1 img
{

   width: 20%;
   
}
.firstResp3 img
{

   width: 20%;
   
}
.firstResp3
{
	float: right;
	margin-right: 35px;
	width: 20%;
}
.differentOptions
{
	
}

.others
{
	margin-top: 40px;
}
}
@media screen and (min-width:1044px)
{
  .firstResp2
  {
  	margin-left: 250px;
  }
.welcome
{
	color:white; 
}
}